footer {
  background-color: #24243e;
}
.footer-pages {
  color: #7a84a5;
}
.Footer-links {
  color: #7a84a5;
  font-size: 2em;
}
.Footer-links:hover,
a:hover {
  color: #e9eff2 !important;
  text-decoration: none;
}

@media (min-width: 500px) {
  .foot {
    width: 50%;
  }
}
